@font-face { 
    src: url(fonts/NeueMontreal-Regular.otf); 
    font-family: 'reg'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Bold.otf); 
    font-family: 'bold'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Medium.otf); 
    font-family: 'mid'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Regular.otf); 
    font-family: 'light'; 
}



* {
    font-family:var(--mono);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11pt;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

:root {
    --mono: "Overpass Mono", monospace;
    --b: #ebebe9;
}

main {
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
body {
    background-color: var(--b);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



/* MENU GENERALES */
a {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
a span {
    transform: translateY(100%);
    transition: transform 1.2s ease-in-out;
}
#dosges {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1.5rem;
    z-index: 100;
}
#dosges span {
    font-family: 'bold';
    cursor: pointer;
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
#projs, #playgr, #av, #abt {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #000;
    transition: text-decoration-color .8s ease;
    cursor: pointer;
}
#av {
    margin-bottom: 19rem;
}
#index {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    z-index: 10;
}
#index a span {
    flex: 0 0 15%;
}
#index a span:nth-child(2) {
    text-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
#index a span:last-child {
    display: flex;
    justify-content: flex-end;
}
[data-project] {
    overflow: hidden;
    white-space: nowrap;
}



/* MAIN GENERALES */
#cover2 {
    width: 100%;
    height: 100vh;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: background-size .5s ease, opacity .5s ease;
}
#forscroll {
    display: none;
    height: 200vh;
    background-color: transparent;
}
#coverDoble {
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 9;
    pointer-events: none;
}
#cellsAnim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    pointer-events: none;
    display: none;
}
.cell {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--b);
    transition: background-color 0.3s;
    z-index: 8;
    display: none;
}
#transicion {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
    pointer-events: none;
    display: none;
    top: 0;
}
.cellT {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 101;
    display: none;
}
.hidden {
    display: none;
}

.miniaturas {
    width: auto;
    height: 3rem;
    position: fixed;
    top: 0;
    margin: 4.7rem 0;
    display: grid;
    opacity: 0;
    z-index: 21;
    right: calc(50% - 5.5rem);
}
.miniaturas.show {
    opacity: 1;
}
.miniaturas div.show {
    opacity: 0.5;
}
.miniaturas div {
    display: flex;
    height: inherit;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s ease;
}
.miniatura img, .fotos4_foto img, .miniatura video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.overlay img,
.overlay video {
    max-width: 90%;
    max-height: 90%;
    display: none;
}
.page2 .overlay img, .page2 .overlay video {
    height: 73%;
    margin-top: 7rem;
    width: auto;
    cursor: none;
}
.title {
    font-family: 'reg';
    font-size: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #000;
    margin-left: 1.5rem;
    z-index: 7;
    mix-blend-mode: soft-light;
}
.pretitle {
    font-family: 'mid';
    font-size: 1.1rem;
    position: fixed;
    bottom: 7.3rem;
    left: 0;
    color: #000;
    margin-left: 1.9rem;
    z-index: 7;
    transform-origin: top;
}
.title1 {
    transition: all 1.5s ease;
    transform-origin: top;
    pointer-events: none;
}
.scrmore {
    position: fixed;
    bottom: 17%;
    left: 42%;
    color: #a4a4a4;
    opacity: 0;
    transition: opacity .5s ease;
}
.title2 {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    margin: 0;
    opacity: 0;
    line-height: 20vh;
}
.title2txt {
    transform: scaleY(0);
    cursor: pointer;
    pointer-events: all;
    transform-origin: bottom;
    transition: transform 1.5s ease, text-decoration-color 1.2s ease;
}
.title.title2txt {
    text-decoration: line-through;
    text-decoration-color: transparent;
}
.title.title2txt:hover {
    text-decoration-color: #000;
}
.desarrollo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}
section.desarrollo div.proj_foto, section.desarrollo div.proj_txts span {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: relative;
}

section.desarrollo div.proj_foto.visible, section.desarrollo div.proj_txts span.visible {
    opacity: 1;
}
section.desarrollo div.proj_txts {
    position: relative;
}
section.desarrollo div.proj_txts span {
    position: relative;
}
.rowsContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
}
.textRow {
    position: absolute;
    width: 100%;
    background-color: var(--b);
    height: 100%;
    transition: height 0.3s;
    z-index: 6;
}
.cellsAnim2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 6;
    pointer-events: none;
    display: none;
}
.cells2 {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--b);
    transition: background-color 0.3s;
    z-index: 6;
}
.page2 {
    width: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    margin-top: 8rem;
    padding: 1.5rem;
}




/* PROJECTS */

.fr1 {
    margin: 35rem 0 20rem 0;
    display: flex;
    flex-direction: row;
    overflow-x: clip;
    width: 100%;
    padding: 7rem 11rem 0 11rem;
}
.fr1 > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.fr1 .foto1 {
    width: 100%;
    height: auto;
}
.fr1 .col-right {
    position: sticky;
    width: 35%;
    top: 0;
    padding: 1.5rem;
    height: 100vh;
    justify-content: space-between;
    transition: position 0.3s ease-out;
}
video {
    width: 100%;
    height: auto;
}
.text1 {
    display: flex;
    flex-direction: column;
}
.text1 b {
    font-size: 1rem;
    font-family: 'reg';
    vertical-align: text-top;
}
.big {
    font-size: 2.5rem;
    line-height: 2.1rem;
    font-family: 'mid';
}
.right {
    margin-left: 5rem;
}
.minustop {
    margin-top: -0.4rem;
}
.page2 img, .page2 video {
    width: 100%;
    cursor: pointer;
}
.franja5 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.credits {
    width: 40%;
    display: flex;
    padding: 0rem 0rem 15rem 5rem;
}
.credits > span {
    display: flex;
    flex-direction: column;
    margin-right: 1rem ;
}
.credits > span:first-child span {
    text-align: end;
    color: #a9a9a9;
}
.fulluk {
    text-decoration: underline;
}




/* PLAYGROUND */

#pg {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    overflow-y: scroll;
    height: auto;
    row-gap: 2rem;
}
#pg > div {
    width: 18%;
    position: relative;
    opacity: 0;
    transition: opacity .3s ease, transform .5s ease-in-out, margin-bottom .5s ease-in-out;
}
#pg > div img {
    width: 100%;
    object-fit: cover;
}
#pg .ll {
    margin-left: 2%;
}
#pg .lc {
    margin-left: 20%;
}
#pg .rc {
    margin-left: 42%;
}
#pg .rr {
    margin-left: 65%;
}
.pgtxt {
    position: fixed;
    top: 15%;
    left: 5%;
    color: var(--b);
    transition: color .2s ease;
    text-align: left;
    font-size: .9rem;
}
/* #pg > div:nth-child(1) {
    z-index: 2;
    margin-left: 2%;
}
#pg > div:nth-child(2) {
    z-index: 1;
    margin-left: -5%;
    margin-top: -18%;
}
#pg > div:nth-child(3) {
    z-index: 1;
    margin-bottom: -2%;
}
#pg > div:nth-child(11) {
    z-index: 1;
    margin-left: 5%;
    margin-top: 3%;
}
#pg > div:nth-child(12) {
    margin-left: 7%;
    margin-top: 3%;
}
#pg > div:nth-child(13) {
    margin-left: -3%;
    margin-top: 17%;
}
.nostyles {
    z-index: 0;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.nomargins {
    margin-left: 0;
} */




/* AV */
#audiov {
    display: none;
}
#audiov .fr1 {
    margin: 0;
}
.blankspace {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.blankspace .credits {
    padding: 0rem 0rem 8rem 0rem;
    width: 100%;
}
#rowsAnim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 10; 
    pointer-events: none;
    overflow: hidden; 
}
.row {
    width: 100%;
    height: 10%; 
    background-color: var(--b);
    transition: height 0.7s ease; 
}
.av-proj {
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}
#avfirstvid video {
    opacity: 0;
    transition: opacity 1.6s ease;
}


/* ABOUT */
#about {
    width: 100%;
    height: 100%;
    background: var(--b);
}
#about span, #about a {
    font-size: .7rem;
}
#about .imprint {
    position: fixed;
    top: 35%;
    left: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imprint span {
    color: #b2b2b2;
}
#about .proj_foto {
    position: absolute;
    left: 31%;
    width: 17vw;
    top: 22%;
    opacity: 0;
}
#about .proj_foto img {
    width: 100%;
    object-fit: cover;
}
.ab-ontop {
    top: 32%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#about .ab-ontop span {
    font-family: 'bold';
    position: relative;
    font-size: 3.5rem;
    color: #c9c9c9;
    mix-blend-mode: difference;
}
.ontop2 {
    position: absolute;
    left: calc(17vw + 29%);
    height: 4.4rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
#about .ontop2 span {
    font-family: 'light';
    font-size: 1.2rem;
}
.ab-ontop .proj_txts:first-child {
    left: 27%;
    position: absolute;
}
.ab-info{
    width: 80%;
    padding: 0 0 3rem 4rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    text-transform: uppercase;
}
.ab-left {
    width: 20%;
    left: 5vw;
}
.ab-center {
    width: 36%;
    flex: 0 0 45%;
}
.ab-right {
    width: 20%;
    right: 12vw;
}
.abtlinks {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: .7rem;
    margin: .3rem 1rem 0 0;
    text-transform: uppercase;
}



/* cosas movil */
#menu-ph {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    z-index: 101;
}
#menu-ph a {
    color: #000;
    display: flex;
}
main #menu-ph #menu-ph-btn-close {
    display: none;
    color: var(--b);
}
.index-ph {
    display: none;
}
.bte-ph {
    display: none;
}
#av-ph {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
.av-ph-top {
    position: sticky;
    top: 0;
    padding: 6rem 0 2rem 0;
    width: 100%;
    z-index: 30;
    background-color: var(--b);
}
.av-ph-all {
    margin-top: 8rem;
}
.ab-bottom {
    display: none;
}
.gito i {
    width: .7rem;
    margin: .15rem 3rem 0 -.6rem;
}
.gito i path {
    fill: #000;
}
.imp span {
    color: #767676;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
    .fr1 {
        padding: 7rem 9rem 0 9rem;
    }
}

@media screen and (max-width: 1090px) {
    * {
        font-size: 9pt;
    }
    .fr1 {
        padding: 7rem 5rem 0 5rem;
    }
    
}



@media screen and (max-width: 768px) {
    * {
        font-size: 11pt;
    }
    #forscroll {
        height: 160vh;
    }
    
    #menu-ph {
        display: block;
    }
    #menu {
        width: 100%;
        margin: 0;
        background-color: #222222;
        align-items: flex-start;
        row-gap: .5rem;
        height: 0;
        padding: 0;
        transition: height .8s ease, padding .8s ease;
    }
    #projs, #playgr, #av, #abt {
        color: transparent;
        pointer-events: none;
        overflow: visible;
        text-decoration-color: transparent;
    }
    #av {
        margin-bottom: 0;
    }
    #index {
        margin: 2rem;
        width: 85vw;
    }
    #index a span {
        flex: 0 0 20%;
    }
    .index-ph {
        display: flex;
    }
    .index-desk {
        display: none;
    }
    .fr1 {
        flex-direction: column;
        padding: 2rem;
        margin: 35rem 0 10rem 0;
    }
    .fr1 > div {
        width: 100%;
    }
    .text1 {
        display: none;
    }
    .fr1 .col-right {
        height: auto;
        justify-content: flex-start;
    }
    .title {
        font-size: 15vw;
    }
    .pretitle {
        bottom: 16vw;
        font-size: 3vw;
    }
    .scrmore {
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .credits {
        width: auto;
        padding: 0rem 0rem 15rem 3rem;
    }
    .bte-ph {
        display: block;
    }
    .bte {
        display: none;
    }
    .miniaturas.show {
        margin: 6rem auto;
        left: 50%;
        transform: translate(-50%, -50%);
        top: auto;
        bottom: 0;
        right: auto;
    }
    .page2 .overlay img, .page2 .overlay video {
        margin-top: -7rem;
        height: auto;
    }
    #pg {
        padding: 4rem 1rem 1rem 1rem;
    }
    #pg > div {
        width: 40%;
    }
    #pg .rr {
        margin-left: 60%;
    }
    #pg .lc {
        margin-left: 17%;
    }
    #pg .rc {
        margin-left: 35%;
    }
    #pg .ll {
        margin-left: 0%;
    }
    #audiov .page2 {
        margin-top: 4rem;
    }
    #audiov .fr1 {
        display: none;
    }
    #av-ph {
        display: flex;
    }
    .blankspace {
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        margin: 6rem 0;
    }
    .blankspace .credits {
        padding: 7rem 0 10rem 0;
    }
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about .proj_foto {
        width: 58vw;
        margin-top: 60%;
        position: sticky;
        top: 7rem;
        left: auto;
    }
    .ab-ontop {
        flex-direction: column;
        top: 12%;
    }
    .ontop2 {
        position: fixed;
        mix-blend-mode: difference;
        top: 9%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    #about .ab-ontop a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .ab-ontop .proj_txts:first-child {
        left: auto;
        width: 100%;
        position: fixed;
        mix-blend-mode: difference;
        top: 6%;
        transform: translate(-50%, 50%);
    }
    #about .ab-ontop span {
        position: relative;
        font-size: 2.7rem;
        top: 9%;
    }
    #about .ab-ontop .ontop2 span {
        font-size: 1rem;
        position: relative;
        top: 15%;
    }
    .ab-info {
        flex-direction: column;
        row-gap: 6rem;
        padding: 3rem;
        position: absolute;
        top: 65%;
        width: 100%;
    }
    .ab-left {
        order: 3;
    }
    .ab-left, .ab-center, .ab-right {
        width: 100%;
        flex: 0 0 0;
    }
    .ab-bottom {
        display: block;
    }
    .ab-bottom.git {
        order: 4;
        display: flex;
        flex-direction: column;
    }
    .gito {
        display: flex;
        flex-direction: row;
    }
    .ab-bottom {
        order: 5;
    }
    #about .imprint {
        display: none;
    }
    #about span, #about a {
        font-size: .8rem;
    }
}


