@font-face { 
    src: url(fonts/NeueMontreal-Regular.otf); 
    font-family: 'reg'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Bold.otf); 
    font-family: 'bold'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Medium.otf); 
    font-family: 'mid'; 
}
@font-face { 
    src: url(fonts/NeueMontreal-Regular.otf); 
    font-family: 'light'; 
}



* {
    font-family:var(--mono);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11pt;
    scroll-behavior: smooth;
}

:root {
    --mono: "Overpass Mono", monospace;
    --b: #ebebe9;
}

main {
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
body {
    background-color: var(--b);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



/* MENU GENERALES */
a {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
a span {
    transform: translateY(100%);
    transition: transform 1.2s ease-in-out;
}
#dosges {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1.5rem;
    z-index: 100;
}
#dosges span {
    font-family: 'bold';
    cursor: pointer;
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
#projs, #playgr, #av, #abt {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    text-decoration-color: transparent;
    transition: text-decoration-color 1.2s ease;
    cursor: pointer;
}
#index {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    z-index: 10;
}
#index a span {
    flex: 0 0 15%;
}
#index a span:nth-child(2) {
    text-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
#index a span:last-child {
    display: flex;
    justify-content: flex-end;
}
[data-project] {
    overflow: hidden;
    white-space: nowrap;
}



/* MAIN GENERALES */
#cover2 {
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: background-size .5s ease, opacity .5s ease;
}
#forscroll {
    display: none;
    height: 200vh;
    background-color: transparent;
}
#coverDoble {
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 9;
    pointer-events: none;
}
#cellsAnim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    pointer-events: none;
    display: none;
}
.cell {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--b);
    transition: background-color 0.3s;
    z-index: 8;
    display: none;
}
#transicion {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
    pointer-events: none;
    display: none;
    top: 0;
}
.cellT {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 101;
    display: none;
}
.hidden {
    display: none;
}

.miniaturas {
    width: auto;
    height: 5vh;
    position: fixed;
    top: 0;
    margin: 5rem 0;
    display: grid;
    opacity: 0;
    z-index: 21;
    right: 44.8%;
    /* transform: translateX(-50%); */
}
.miniaturas.show {
    opacity: 1;
}
.miniaturas div.show {
    opacity: 0.5;
}
.miniaturas div {
    display: flex;
    height: inherit;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s ease;
}
.miniatura img, .fotos4_foto img, .miniatura video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.overlay img,
.overlay video {
    max-width: 90%;
    max-height: 90%;
    display: none;
}
.page2 .overlay img, .page2 .overlay video {
    height: 73%;
    margin-top: 7rem;
    width: auto;
    cursor: none;
}
.title {
    font-family: 'reg';
    font-size: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #000;
    margin-left: 1.5rem;
    z-index: 7;
    mix-blend-mode: soft-light;
}
.pretitle {
    font-family: 'mid';
    font-size: 1.1rem;
    position: fixed;
    bottom: 7.3rem;
    left: 0;
    color: #000;
    margin-left: 1.9rem;
    z-index: 7;
    transform-origin: top;
}
.title1 {
    transition: all 1.5s ease;
    transform-origin: top;
    pointer-events: none;
}
.title2 {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    margin: 0;
    opacity: 0;
    line-height: 20vh;
}
.title2txt {
    transform: scaleY(0);
    cursor: pointer;
    pointer-events: all;
    transform-origin: bottom;
    transition: transform 1.5s ease, text-decoration-color 1.2s ease;
}
.title.title2txt {
    text-decoration: line-through;
    text-decoration-color: transparent;
}
.title.title2txt:hover {
    text-decoration-color: #000;
}
.desarrollo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}
section.desarrollo div.proj_foto, section.desarrollo div.proj_txts span {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: relative;
}

section.desarrollo div.proj_foto.visible, section.desarrollo div.proj_txts span.visible {
    opacity: 1;
}
section.desarrollo div.proj_txts {
    position: relative;
}
section.desarrollo div.proj_txts span {
    position: relative;
}
.rowsContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
}
.textRow {
    position: absolute;
    width: 100%;
    background-color: var(--b);
    height: 100%;
    transition: height 0.3s;
    z-index: 6;
}
.cellsAnim2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 6;
    pointer-events: none;
    display: none;
}
.cells2 {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--b);
    transition: background-color 0.3s;
    z-index: 6;
}
.page2 {
    width: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    margin-top: 8rem;
    padding: 1.5rem;
}




/* PROJECTS */

.fr1 {
    display: flex;
    flex-direction: row;
    overflow-x: clip;
    width: 100%;
    padding: 7rem 11rem 0 11rem;
}
.fr1 > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.fr1 .foto1 {
    width: 100%;
    height: auto;
}
.fr1 .col-right {
    position: sticky;
    top: 0;
    padding: 1.5rem;
    height: 100vh;
    justify-content: space-between;
    transition: position 0.3s ease-out;
}
video {
    width: 100%;
    height: auto;
}
.text1 {
    display: flex;
    flex-direction: column;
}
.text1 b {
    font-size: 1rem;
    font-family: 'reg';
    vertical-align: text-top;
}
.big {
    font-size: 2.5rem;
    line-height: 2.1rem;
    font-family: 'mid';
}
.right {
    margin-left: 5rem;
}
.minustop {
    margin-top: -0.4rem;
}
.page2 img, .page2 video {
    width: 100%;
    cursor: pointer;
}
.franja5 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.credits {
    width: 40%;
    display: flex;
    padding: 0rem 0rem 15rem 5rem;
}
.credits > span {
    display: flex;
    flex-direction: column;
    margin-right: 1rem ;
}
.credits > span:first-child span {
    text-align: end;
    color: #a9a9a9;
}
.fulluk {
    text-decoration: underline;
}




/* PLAYGROUND */

#pg-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 7;
    display: none;
}
#playground {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border: 0.3px solid #20202061;
    width: 67vw;
    height: 75vh;
    z-index: 7;
    position: absolute;
}
.pgcell {
    position: relative;
    border: 0.3px solid #20202061;
}

/* .pgcell:nth-child(odd):not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(7)):not(:nth-child(15)):not(:nth-child(29)):not(:nth-child(43))::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.414); 
    left: -8px; 
    height: 1px; 
    width: 10%; 
}
.pgcell:nth-child(odd):not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)):not(:nth-child(7)):not(:nth-child(21)):not(:nth-child(35)):not(:nth-child(49))::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.414); 
    top: -7px; 
    right: 0;
    width: 1px; 
    height: 16%; 
}
.pgcell:nth-child(even):not(:nth-child(44)):not(:nth-child(46)):not(:nth-child(48)):not(:nth-child(42)):not(:nth-child(28)):not(:nth-child(14))::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.414); 
    right: -8px; 
    bottom: 0px;
    height: 1px; 
    width: 10%; 
}
.pgcell:nth-child(even):not(:nth-child(44)):not(:nth-child(46)):not(:nth-child(48)):not(:nth-child(8)):not(:nth-child(22)):not(:nth-child(36))::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.414); 
    bottom: -7px; 
    width: 1px; 
    height: 16%; 
} */
.pgcell img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
#image-container {
    display: none;
    height: 67%;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}
#image-container img {
    max-height: 100%;
    max-width: 100%;
}
#close-icon {
    position: absolute;
    z-index: 8;
    opacity: 0;
    top: -.5rem;
    right: 22%;
    color: #1d1d1daa;
    cursor: pointer;
    font-size: 1.8rem;
    transition: opacity .4s ease;   
}
.thumbnail {
    opacity: 0;
    transition: opacity 1s ease; 
}




/* AV */
#audiov {
    display: none;
}
.blankspace {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.blankspace .credits {
    padding: 0rem 0rem 8rem 0rem;
    width: 100%;
}
#rowsAnim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 10; 
    pointer-events: none;
    overflow: hidden; 
}
.row {
    width: 100%;
    height: 10%; 
    background-color: var(--b);
    transition: height 0.7s ease; 
}
.av-proj {
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}
#avfirstvid video {
    opacity: 0;
    transition: opacity 1.6s ease;
}


/* ABOUT */
#about {
    width: 100%;
    height: 100%;
    background: var(--b);
}
#about span, #about a {
    font-size: .7rem;
}
#about .proj_foto {
    position: absolute;
    left: 31%;
    width: 17vw;
    top: 22%;
    opacity: 0;
    transition: 1.2s;
}
#about .proj_foto img {
    width: 100%;
    object-fit: cover;
}
.ab-ontop {
    top: 32%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#about .ab-ontop span {
    font-family: 'bold';
    position: relative;
    font-size: 3.5rem;
    color: #c9c9c9;
    mix-blend-mode: difference;
}
.ontop2 {
    position: absolute;
    left: 44%;
    height: 4.4rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
#about .ontop2 span {
    font-family: 'light';
    font-size: 1.2rem;
}
.ab-ontop .proj_txts:first-child {
    left: 20%;
    position: absolute;
}
.ab-info{
    width: 80%;
    padding: 0 0 3rem 4rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    text-transform: uppercase;
}
.ab-left {
    width: 20%;
    left: 5vw;
}
.ab-center {
    width: 36%;
    left: 24vw;
}
.ab-right {
    width: 20%;
    right: 12vw;
    text-align: right;
}
.abtlinks {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: .7rem;
    margin: .3rem 1rem 0 0;
    text-transform: uppercase;
}


/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    * {
        font-size: 9pt;
    }
}



@media screen and (min-width: 768px) {
    * {
        font-size: 11pt;
    }
}
